body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    text-align: center;
}
.no-scroll {
    overflow: hidden;
    height: 100vh;
    width: 100%;
}
.content-section {
    flex: 1;
    max-width: 50%;
    text-align: center;
}

.greeting {
    font-size: 3rem; 
    font-weight: bold;
    margin-bottom: 10px;
}

.intro-text {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: normal;
    max-width: 80%;
    margin: 0 auto;
}

.profile-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container {
	position: relative;
	width: 40vw;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: visible; 
	margin-bottom: 20px;;
  }
  
  .profileimage {
	width: 50vw; 
	height: auto; 
	object-fit: cover;
	position: absolute;
	mask-image: url("./Brush.png");
	mask-repeat: no-repeat;
	mask-size: contain; 
	mask-position: center;
	-webkit-mask-image: url("./Brush.png");
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	-webkit-mask-position: center;
  }
  
  .brush-mask {
	width: 50vw;
	height: auto;
	object-fit: contain; 
	position: absolute;
  }
  .social-card {

	display: flex;
	align-items: center !important;
	justify-content: center !important;
	gap: 20px;
    padding: 10px 5px;
	border-radius: 14px;
  }
.Btn {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: transparent;
	position: relative;
	border-radius: 7px;
	cursor: pointer;
	transition: all 0.3s;
  }

  .svgContainer {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	backdrop-filter: blur(0px);
	-webkit-backdrop-filter: blur(0px);
	letter-spacing: 0.8px;
	border-radius: 5px;
	transition: all 0.3s;
	z-index: 2;
  }

  .BG {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #181818;
	z-index: 1;
	border-radius: 10px;
	pointer-events: none;
	transition: all 0.3s;
	font-size: 0px;
  }

  .github .BG {
	background: #181818;
  }

  .linkdin .BG {
	background: #0077b5;
  }
@media screen and (max-width: 768px) {
    .home-container {
        flex-direction: column; 
        align-items: center;
        text-align: center;
        padding: 20px;
        height: auto;
    }
	.greeting{
		font-size:x-large;
	}
    .content-section {
        order: 1;
        max-width: 100%;
        text-align: center;
        padding: 10px;
    }

    .social-card {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
    }

    .profile-section {
        order: 2;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-container {
        width: 100vw; 
		height: 25vh;
    }

    .profileimage, .brush-mask {
        width: 100%;
    }
    .no-scroll {
        overflow:scroll;
        width: 100%;
    }
}