.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  margin: 0;
  // background: #F5D7AF; /* Ensure it matches the background color */
  box-shadow: none !important; /* Force remove any box-shadow */
  border-bottom: 2px solid black;
  z-index: 1000;
}

body, html {
  margin: 0;
  padding: 0;
}

.navbar.fixed {
  background: #262672; /* Background color when scrolled */
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 24px;
  transition: color 0.3s ease-in-out;
}

.navbar.fixed a {
  color: white; /* Change text color when scrolled */
}

.logoimage {
  width: 10vw;
  height: 14vh;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

.navbar .toggle_btn {
  color: black;
  font-size: 2rem;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 0;
  background: rgba(38, 38, 114, 0.87);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.dropdown_menu.open {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown_menu li {
  padding: 0.5rem;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.dropdown_menu li a {
  color: white;
  font-size: large;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

/* Get In Touch Button */
.get-in-touch {
  border: 2px solid black;
  background: transparent;
  padding: 10px 15px;
  // font-weight: bold;
  // font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.get-in-touch:hover {
  background: black;
  color: white;
}

/* Contact Section Border */
#contact {
  border: 2px solid black;
  padding: 20px;
  margin-top: 30px;
  text-align: center;
  border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 992px) {
  .navbar .links {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }

  .dropdown_menu li a {
    display: block;
    text-align: center;
    margin-top: 2%;
  }

  .navbar.fixed {
    background: #262672;
  }

  .logoimage {
    width: 60px;
    height: 60px;
  }
}

/* Fade In Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
