.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   //background-color: white;
   color: white;
   background: linear-gradient(to right, #252c42, #3030a6);
   box-shadow: none !important;
  }
 
 .logo {
   font-size: 24px;
   font-weight: bold;
   background-image: url(./logo1.png);
   
 }
 .logoimage{
  padding: 5px;
  width: 180px;
  height: 150px;
 }
 
 nav ul {
   list-style: none;
   display: flex;
 }
 
 nav ul li {
   margin-right: 20px;
 }
 
 nav ul li a {
   text-decoration: none;
   color: white;
   font-weight: bold;
   font-size: 24px;
 }
 body .navbar {
  box-shadow: none;
}
 