.about-section{
   align-items: center;
   justify-content: center;
   // padding: 50px 100px;
   
}

h1 {
   font-weight: bold;
   text-align: center;
   align-items: center;
   justify-content: center;
}

