.skills-section {
  background-color: #121212;
  color: #fff;
  text-align: center;
  padding: 60px 20px;

  .skills-title {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .skills-subtitle {
    font-size: 1.2rem;
    margin-top: 10px;
    opacity: 0.8;
  }

  .skills-description {
    max-width: 700px;
    margin: 10px auto;
    font-size: 1rem;
    opacity: 0.7;
  }

  .skills-link {
    margin-top: 15px;
    font-size: 1rem;

    a {
      color: #fbbc05;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;

    .skill-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }

      .skill-icon {
        font-size: 5rem; 
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.2);
        }
      }

      .skill-name {
        margin-top: 10px;
        font-size: 1rem;
        opacity: 0.8;
      }
    }
  }
}

@media (max-width: 900px) {
  .skills-section {
  .skills-title {
    font-size: 30px; 
  }

  .skills-subtitle {
    font-size: 1rem;
  }

  .skills-description {
    font-size: 0.9rem;
  }

  .skills-grid {
    gap: 50px; 
    .skill-item{
      .skill-icon{
        font-size: 3rem; 
      }
    }
  }

  .skill-item {
    width: 30px; 
    text-align: center;
  }

  .skill-icon {
    font-size: 1.5rem;
  }

  .skill-name {
    font-size: 0.9rem; 
  }
}
}
