/* Work Experience Section */
.work-section {
    padding: 50px 0;
    margin-top: 70px;
  }
  
  .pagetitle {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
  }
  
  /* Work Blocks */
  .work {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #f1f1f1;
  }
  
  /* Details */
  .detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .name {
    font-weight: bold;
  }
  
  .date {
    font-style: italic;
  }
  
  /* Role */
  .role {
    font-style: italic;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .pagetitle {
      font-size: 24px;
    }
  
    .detail {
      display: block;
      text-align: center;
    }
  
    .role {
      text-align: center;
    }
  }
  