@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.App {
  /* text-align: center; */
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .container {
    flex-direction: row;
  }
  .div {
    font-size: 10px;
  }
  /* Add this rule to reduce font size for smaller screens */
  body {
    font-size: 14px; /* Adjust the font size as needed */
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.title{
  font-weight: bold;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
.loader {
  position: relative;
  overflow: hidden;
  border-right: 3px solid;
  width: 0;
  animation: typewriter 1s steps(10) infinite alternate, blink 0.2s steps(10) infinite;
}

.loader-text {
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(to right, #159957, #155799);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes typewriter {
  0% {
    width: 0;
  }

  100% {
    width: 240px;
  }
}

@keyframes blink {
  0% {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  100% {
    border-right-color: transparent;
  }
}
